## 游 Los datos

La compa침ia guarda la informaci칩n que necesita en las siguientes tablas. Algunos de los campos son an칩nimos para cumplir con los regulaciones de privacidad.

#### Doctors contiene la informaci칩n sobre los doctores. Cada fila representa un doctor.
- "DoctorID" - es un identificador unico para cada doctor.
- "Region" - la regi칩n greogr치fica actual del doctor.
- "Category" - el tipo de doctor, ya sea 'Specialist' or 'General Practitiones'.
- "Rank" - es un sistema de ranking interno. Es una variable ordenada: El nivel mas alto es Ambassadors, seguido de Titanium Plus, Titanium, Platinum Plus, Platinum, Gold Plus, Gold, Silver Plus, y el nivel m치s bajo es Silver.
- "Incidence rate" y "R rate" - se relaciona con la cantidad de reprocesamiento que genera cada m칠dico.
- "Satisfaction" - mide la satisfacci칩n que el doctor tiene con la compa침ia.
- "Experience" - se relaconacon la experiencia del doctor con la compa침ia.
- "Purchases" - compras en el 칰ltimo a침o.

#### Orders contiene detalles de las ordenes. Cada fila representa una orden; un doctor puede tener nultiples ordenes.
- "DoctorID" - doctor id (coincide con las otras tablas) (matches the other tables).
- "OrderID" - identificador de orden.
- "OrderNum" - n칰mero de orden.
- "Conditions A through J" - mapea las diferentes configuraciones de cada uno de los dispositivos en la orden. Cada orden es para un solo paciente.

#### Complaints collects information on doctor complaints.
#### Complaints recopila informaci칩n acerca de las quejas de los doctores.
- "DoctorID" - doctor id (coincide con las otras tablas).
- "Complaint Type" - la clasificaci칩n que pone la compa침ia a cada queja.
- "Qty" - n칰mero de quejas por tipo de queja por doctor.

#### Instructions has information on whether the doctor includes special instructions on their orders.
#### Instructions tiene informaci칩n sobre instrucciones especiales en sus pedidos.
- "DoctorID" - doctor id (coincide con las otras tablas). 
- "Instructions" - 'Yes' cuando el doctor incluye instrucciones especiales, 'No' cuand no.

In [5]:
import pandas as pd
doctors = pd.read_csv('doctors.csv')
doctors

,DoctorID,Region,Category,Rank,Incidence rate,R rate,Satisfaction,Experience,Purchases
0,AHDCBA,4 15,Specialist,Ambassador,49.00,0.90,53.85,1.20,49.0
1,ABHAHF,1 8 T4,General Practitioner,Ambassador,37.00,0.00,100.00,0.00,38.0
2,FDHFJ,1 9 T4,Specialist,Ambassador,33.00,1.53,--,0.00,34.0
3,BJJHCA,1 10 T3,Specialist,Ambassador,28.00,2.03,--,0.48,29.0
4,FJBEA,1 14 T4,Specialist,Ambassador,23.00,0.96,76.79,0.75,24.0
...,...,...,...,...,...,...,...,...,...
432,AIABDJ,1 10,Specialist,Ambassador,2.18,0.80,11.76,0.77,35.0
433,BBAJCF,1 9 T4,Specialist,Ambassador,2.17,1.68,--,0.11,19.0
434,GGCFB,1 19 T4,Specialist,Ambassador,2.14,0.77,--,0.27,22.0
435,FDCEG,1 9,Specialist,Ambassador,2.13,0.84,100.00,0.32,25.0
436,EIEIB,1 13,Specialist,Ambassador,2.05,1.56,11.11,0.39,64.0

In [2]:
orders = pd.read_csv('orders.csv')
orders

,DoctorID,OrderID,OrderNum,Condition A,Condition B,Condition C,Condition D,Condition F,Condition G,Condition H,Condition I,Condition J
0,ABJEAI,DGEJFDC,AIBEHCJ,False,False,False,False,False,True,True,False,Before
1,HBIEA,DGAJDAH,AIJIHGB,False,True,NaN,False,False,True,False,True,Before
2,GGCCD,DGBBDCB,AFEIHFB,False,False,False,False,False,False,False,False,NaN
3,EHHGF,DGCDCCF,AIBJJEE,False,False,False,True,False,False,True,False,Before
4,EHHGF,DGCFAGC,AEDBBDC,False,False,False,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
252,FJFEG,DGDBGJH,AIBCDCE,False,True,False,False,False,True,True,False,Before
253,FJFEG,DGDBGGI,AIBCDGD,False,False,True,False,False,False,True,False,Before
254,FJFEG,DGEABGI,AIBFJHE,True,False,False,False,False,False,False,False,Before
255,FJFEG,DGEABGI,AIBFJHE,True,False,False,True,False,False,False,False,Before
256,AIABDJ,DFICBFD,AEFABFI,False,False,False,False,False,False,False,False,NaN

In [3]:
complaints = pd.read_csv('complaints.csv')
complaints

    DoctorID Complaint Type  Qty
0      EHAHI        Correct   10
1      EHDGF        Correct    2
2      EHDGF        Unknown    3
3      EHDIJ        Correct    8
4      EHDIJ      Incorrect    2
..       ...            ...  ...
430   BHGIFC      Incorrect    1
431   BHHDDF        Correct    1
432   CJAFAB      Incorrect    1
433   CAAHID        Correct    2
434   CAECFG        Correct    2

[435 rows x 3 columns]

In [4]:
instructions = pd.read_csv('instructions.csv')
instructions

   DoctorID Instructions
0    ADIFBD          Yes
1    ABHBED           No
2     FJFEG          Yes
3    AEBDAB           No
4    AJCBFE          Yes
..      ...          ...
72   ABEAFF          Yes
73    FCGCI          Yes
74    FBAHD          Yes
75    FCABB          Yes
76    GHDFB          Yes

[77 rows x 2 columns]

1. 쮺uantos doctores hay en cada regi칩n? 쮺u치l es el promedio de compras por regi칩n?
2. 쮿ay alguna relaci칩n entre las compras y las quejas?
3. Define segmentos entre los doctores para ayudar a la compa침ia a mejora los esfuerzos de marketing y de servicio al cliente.
4. Identificar que caracter칤sticas impactan mayoritariamente en la nueva estrategia de segmentaci칩n.
5. Nuestro equipo tendra que explicar los nuevos segmentos a la compa침ia. Describir cuales son las caracteristicas que distingen a los nuevos segmentos.